.notice__message {
  display: flex;
  flex-direction: column;
  width: 391px;
  min-height: 121px;
  position: relative;

  background-image: url(../../../images/message-background.svg);

  font-family: Verdana, sans-serif;
  font-style: normal;
  color: #FFFFFF;
}

@media screen and (max-width: 620px) {
  .notice__message {
    width: 100%;
    min-height: 60px;
    border-radius: 20px;

    background-image: none;
    background-color: #A60229;
  }
}